@media (max-width: 992px) {
    .container {
      grid-template-areas:
        "head head"
        "mob mob"
        "key game"
        "mac mac"
        "twit flop"
        "ipad flop"
        "exp exp"
        "tv tv";
    }

    .mobile .image {
      width: 40%;
      transform: translateY(10%);
    }
    .experience{
      padding-block: 20px;
    }
    .ipad img {
      width: 150%;
      /* margin-top: 50px; */
      transform: translate(-25%,135%);
    }
    
.left img {
  width: 200%;
  transform: translate(-70%,38%);
}
.ipad h3 {

  width: 100%;
}
.twitter h3 {
  
  max-width: 90%;
}
  }